<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%#= render 'users/index', users: @records %>
  <% @records.each do |user| %>
    <tbody>
      <tr>
        <th class="user-image">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100) %>
          <% end %>
        </th>
        <th class="user-name">
          <%= link_to user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </th>
        <th></th>
      </tr>
    </tbody>
  <% end %>
<% elsif @model == 'post_image' %>
  <h3>PostImages search for "<%= @content %>"</h3>
  <%#= render 'post_images/index', post_images: @records %>
  <% @records.each do |post_image| %>

    <div class="border mt-3">
      <%= link_to post_image_path(post_image.id) do %>
        <%= image_tag post_image.get_image, size: "400x400", class: "object-fit-contain"; %>
      <% end %>
      <div class="row ">
        <div class="col-3">
          <%= link_to user_path(post_image.user) do %>
            <%= image_tag post_image.user.get_profile_image(100,100) %>
          <% end %>
        </div>
        <div class="col-9">
          <p>
            タイトル: <%= post_image.title %>
          </p>
          <p>説明: <%= post_image.body %></p>
          <p>
            <% post_image.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </p>
          ユーザーネーム: <%= post_image.user.name %>
          | <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %>
          | <% if post_image.niced_by?(current_user) %>
            <p>
              <%= link_to post_image_nice_path(post_image), method: :delete do %>
                ♥<%= post_image.nices.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_image_nice_path(post_image), method: :post do %>
                ♡<%= post_image.nices.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>