<div>
  <%= flash[:notice] %>
</div>

<h1>投稿詳細</h1>
<div>
  <%= image_tag @post_image.get_image, style: "width: 100%;" %>
  <p>タイトル: <%= @post_image.title %></p>
  <p>説明: <%= @post_image.body %></p>
  <p>
    投稿ユーザー: <%= image_tag @post_image.user.get_profile_image(100,100) %>
    <%= @post_image.user.name %>
  </p>
　タグ：
  <% @post_image.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>

  <p>投稿日: <%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post_image.user == current_user %>
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>
  <% if @post_image.niced_by?(current_user) %>
    <p>
      <%= link_to post_image_nice_path(@post_image), method: :delete do %>
        ♥<%= @post_image.nices.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_image_nice_path(@post_image), method: :post do %>
        ♡<%= @post_image.nices.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>

<div>
  <%= form_with model:[@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>